@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-main-light dark:text-text-main-dark transition-colors duration-300 min-h-screen flex flex-col font-body;
  }
}

@layer components {
  .card {
    @apply bg-card-light dark:bg-card-dark border border-gray-100 dark:border-gray-700 rounded-xl shadow-sm overflow-hidden transition-all duration-300;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-hover text-white font-medium py-2 px-4 rounded-lg transition-colors duration-200;
  }
}